$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
@import "node_modules/bootstrap/scss/bootstrap";
$font-color:#2B3B43;
$top-bg:#54528C;
body {
    background: #fff;
    color: $font-color;
    font-weight: inherit;
}

header {
    .topbar {
        background: $top-bg;
        .navbar-brand {
            color: #fff;
            img {
                margin-right: 10px;
            }
        }
    }
    .nav-link {
        color: #fff;
    }
}